a{
    text-decoration: none;
}

section, nav{
    width: 85%;
    margin: 2rem auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-link{
    margin-right: 1rem;
    color: black;
    text-transform: capitalize;
}

.profiles_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    flex-wrap: wrap;
    
}
.profile_container{
   text-align: center;
   padding-right: 1rem;
   padding-bottom: 1rem;
}

.login_section{
    display: flex;
    justify-content: center;
}

label{
    display: block;
    font-size: 1rem;
    padding-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.input_block{
    position: relative;
}

input{
    padding: 5px;
    min-width: 250px;
}

input:hover, input:focus{
    outline: none;
}

button{
    cursor: pointer;
    text-transform: capitalize;
}

.eye_icon{
    position: absolute;
    right: 0.7rem;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.active {
    color: blue;
}

.showText{
    display: block;
    color: red;
}

.hideText{
    display: none;
}

.submit_button{
    width: 100%;
    padding: 5px;
    margin-top: 1.5rem;
}

.user_profile_container{
    display: flex;
    align-items: flex-start;
}

.user_img{
    margin-right: 1rem;
}

.logout_btn{
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 5px 10px;
    color: #fff;
    background-color: rgb(243, 45, 45);
}






@media screen and (max-width: 500px) {
    nav{
        width: 90%;
        margin: 0.5rem auto;
    }
    section{
        width: 95%;
        margin: 0.5rem auto;
    }
}